<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
<form action="/output" method="post">
  <input type="text" name="user-string" placeholder="Enter a Sentence">
  <input type="text" name="word-to-replace" placeholder="What Word Do You Want to Replace?">
  <input type="text" name="replacement-word" placeholder="What Word Do You Want to Replace it With?">

  <button type="submit" name="button">Shoot</button>
</form>
</body>
</html>
